.tiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1em;
    margin-top: 2em;
  }

  .title{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .center {
    flex-direction: column;
  }

.rehearsal-location{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
    gap: 1em;
}

.rehearsal-location-name {
    font-size: 1.2em;
    color: white;
}

.rehearsal-location-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}