.title {
  text-align: center;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 1em;
    margin-top: 2em;
  }

.form-question{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

}

.form-question label{
    font-size: 1.2em;
    color: white;
}

.form-question input{
    font-size: 1.2em;
    /* padding: 0.5em; */
    border: 1px solid white;
    border-radius: 5px;
    margin: 0 1em;
}

  .center {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;

  }

  .AddActBtn{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 10vw;
    height: 100%;

    border-radius: 3px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    padding: 0.5em;
    font-weight: 600;
    color: black;
    text-align: center;
    background-color: #f5f5f5;
    cursor: pointer;
    margin: 1em;
}

.AddSongBtn{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 10vw;
    height: 100%;

    border-radius: 3px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    padding: 0.5em;
    font-weight: 600;
    color: black;
    text-align: center;
    background-color: #f5f5f5;
    cursor: pointer;
    margin: 1em;
}

.AddDanceBtn{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 10vw;
  height: 100%;

  border-radius: 3px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  padding: 0.5em;
  font-weight: 600;
  color: black;
  text-align: center;
  background-color: #f5f5f5;
  cursor: pointer;
  margin: 1em;
}

.CreateShowTemplateBtn{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 15vw;
    height: 100%;

    border-radius: 3px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    padding: 0.5em;
    font-weight: 600;
    color: black;
    text-align: center;
    background-color: #f5f5f5;
    cursor: pointer;
    margin: 1em;
}

.showGroups {
  max-height: 60vh;
  overflow-y: auto;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
 
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.characters{
  max-height: 40vh;

  overflow-y: auto;
}

.ensemble{
  max-height: 40vh;

  overflow-y: auto;
}

.AddActorBtn{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 10vw;
  height: 100%;

  border-radius: 3px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  padding: 0.5em;
  font-weight: 600;
  color: black;
  text-align: center;
  background-color: #f5f5f5;
  cursor: pointer;
  margin: 1em;
}

.ActionBtn{
  cursor: pointer;
}