#root {



    text-align: center;
  }
body {

   

    height: 90vh;
}

.activities {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.loader-center {
    /* center */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.activity{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    background-color: #FF6B35;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
    color: white;
    padding: 10px;
}

.center {
    flex-direction: column;
    
}