

.center {
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;

  
}

.title {
  color: black;
}

body {

  height: 90vh;
  color: black;
}

:root {
  background-color: white;
  color: black;
;
}

.tiles {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 0 auto;
  /* padding: 0; */
  /* max-height: 300px; */
  /* overflow-y: auto; */
  gap: 1px;

}

.tile {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 30px;

    border-radius: 3px;
    /* box-shadow: 0 0 10px rgba(255, 107, 53, 0.5); */
    transition: all 0.3s ease;
    padding: 1em;
    font-weight: 600;
    color: black;


}

.tile h3 {
  font-size: 1em;
  font-weight: normal;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 100%;
  color: black;

  border-radius: 3px;

  transition: all 0.3s ease;

  font-weight: 600;

  text-align: center;

}

/* Mobile device */
@media only screen and (max-width: 728px) {
 .tile {
    width: 60vw !important;
 }

 .section {
    width: 80vw !important;
 }
}