.conflict-times {
  display: flex;
  /* justify-content: space-between; */
  margin-top: 10px;
  align-items: center;
    flex-direction: column;
}

.conflict-times label {
    font-size: 1.2em;
    color: white;
}

.conflict-times input {
    font-size: 1.2em;
    border: 1px solid white;
    border-radius: 5px;
    margin: 0 1em;
}

dialog {
    text-align: center;
}
.AddConflictDialog {
    height: 60vh;
}

.ActionBtn {
    height: unset;
}

@media screen and (max-width: 728px) {
    .AddConflictDialog {
        width: 70vw;
    }
    
}