.calendar-hover-event-tile {
    position: absolute;
    width: 200px;
    height: 80px;
    background-color: #FF6B35;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    border-radius: 5px;
    border: 1px solid rgba(255, 130, 47, 1);
    margin-left: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 5px;

}

.event-time {
    font-size: 12px;


    margin-bottom: -10px;
    font-weight: normal;
}

.event-name {
    font-size: 14px;


}

.event-description {
    font-size: 12px;

    font-weight: normal;
    padding: 10px;
}

.event-location {
    font-size: 12px;

    font-weight: normal;
    padding: 10px;
}