.CharacterDisplayTile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 30vw; */
    height: 100%;

    border-radius: 3px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    padding: 1em;
    font-weight: 600;
    color: white;
    margin: 1.5em;

}
.TrashIcon {
    color: white;
    cursor: pointer;
    margin: 0.5em;
    width: 1em;
}

.CharacterNameDiv {
    width: 100%;
}

.CharacterDisplayTile .header{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

