

.dialogContents {
    text-align: center;
    padding: 1em;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 728px) {
    .JoinActivityDialog {
        width: 70vw;
    }
    
}