.resource-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    color: white;
    border: 1px solid white;
}

.resource-tile h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.resource-tile p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.ActionBtn{
    height: unset !important;
}