.StudentDisplayTile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(255, 107, 53, 0.5);
    transition: all 0.3s ease;
    margin: 1em;
}

.PersonIcon {
    color: white;
    cursor: pointer;
    margin: 0.5em;
    width: 1em;
}